<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/headProduct.ejs') %>
<body>
  <main>
    <form method="POST" action="/products/edit/:id?_method=PUT" class="boxlogin">
      <h2 class="title">Actualizar Producto</h2>
      <input type="text" placeholder="Editar nombre del producto">
      <input type="text" placeholder="Editar descripcion">
      <input type="file" placeholder="Cambiar imagen">
      <input type="text" placeholder="Editar categoria">
      <input type="text" placeholder="Cambiar caracteristicas">
      <input type="number" placeholder="Modificar precio">
      <button type="submit">
        Acutalizar
      </button>
  </main>
</body>
</html>