<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/headProduct.ejs') %>
<body>
  <main>
    <form action="/" class="boxlogin">
      <h2 class="title">Agregar Producto</h2>
      <input type="text" placeholder="Nombre del producto">
      <input type="text" placeholder="Descripcion">
      <input type="file" placeholder="Imagen">
      <input type="text" placeholder="Categoria">
      <input type="text" placeholder="Caracteristicas">
      <input type="number" placeholder="Precio">
      <button type="submit">
        Agregar
      </button>
  </main>
</body>
</html>