<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
<body class="productDetailBody">
  <!-- <header class="header">
    <nav class="navegador">
      <div class="container-logo-barra-nav">
        <img class="logo" src="/img/cleanfy-logo.png" alt="Logo de Cleanfy">
        <div class="buscador">
          <input type="text" placeholder="Buscar productos y mas..." required>
        </div>
        <ul>
          <li><a href="#">Categorias</a></li>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Envios</a></li>
          <li><a href="#">Contactos</a></li>
          </ul>
        <ul class=botonesregistro>
        <div>
          <a href="users/login" class="registro">Sing In<i class="fas fa-sign-in-alt"></i></a></li>
        </div>
        <div>
          <a href="users/register" class="registro">Register<i class="far fa-address-card"></i></a></li></a>
        </div>
        </ul>
      </div>
    </nav>
  </header> -->
  <main class="mainProductDetail">
    <section class="productTittleSection">
      <div class="productTittleContainer">
        <h3 class="productTittle">Javon Lifebouy</h3>
      </div>
    </section>
    <section class="productPictureSection">
      <div class="productPictureContainer">
        <!-- <img src="/img/JavonLifebouy.png" class="productPicture" alt=""> -->
      </div>
    </section>
    <section class="productPriceSection">
      <div class="productPriceContainer">
        <span class="productPrice">$ 80</span>
        <span class="productCuota">en 12x $6.66</span>
      </div>
      <div class="productPaymentMethodContainer">
        <a href="">Ver los medios de pago</a>
      </div>
    </section>
    <section class="buttomSection">
      <div class="buttomContainer">
        <button type="submit" class="buyButton">Comprar ahora</button>
        <button type="submit" class="addButton">Agregar al carrito</button>
      </div>
    </section>
    <hr>
    <section class="desciptionSection">
      <div class="descriptionContainer">
        <h3 class="">Descripcion</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </section>
    <hr>
    <section class="questionSection">
      <div class="questionContainer">
        <h3 class="">Preguntas y respuestas</h3>
        <h3> Busca lo que queres saber</h3>
        <input type="Escribe una pregunta o palabra clave">
        <h4 class="">Ultimas realizadas</h4>
        <span class="question"><p>Buenas, tenes stock?</p></span>
        <span class="reply"><p>Buenas, si tenemos! Muchas gracias!</p></span>
      </div>
    </section>
  </main>
  <!-- <footer>
    <div class="footer-icons"><i class="far fa-credit-card"></i></div>
    <h4>Pagá con  tarjeta o en efectivo</h4>
    <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre es seguro!</p>
    <div class="footer-icons"><i class="fas fa-gift"></i></div>
    <h4>Envío gratis desde los $ 2.500</h4>
    <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
    <div class="footer-icons"><i class="fas fa-user-shield"></i></div>
    <h4>Seguridad de principio a fin</h4>
    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre prtegid@.</p>
    <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
</footer> -->
</body>
</html>