<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
<body class="productDetailBody">
  <main class="mainProductDetail">
    <section>
      <div class="productListContainer">
        <p>Javon Lifebou</p>
        <input type="number" placeholder="Cantidad">
        <p>$ 10.000</p>
      </div>
    </section>
    <hr>
    <section>
      <div class="productListContainer">
        <p>Javon Lifebou</p>
        <input type="number" placeholder="Cantidad">
        <p>$ 10.000</p>
      </div>
    </section>
    <hr>
    <section>
      <div class="buttomContainerCart">
        <div class="buttomContainerCartEnvio">
          <h3>Total con envio</h3>
        </div>
        <div class="buttomContainerCartPrecio">
          <h4>$ 10.000</h4>
        </div>
        <button type="submit" class="buyButton">Continuar Comprar</button>
      </div>
    </section>
  </main>
</body>
</html>