<html lang="en" class="html-register">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <LINK REL=StyleSheet HREF="styles.css" TYPE="text/css" MEDIA=screen>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
  <title>CleanFy Register</title>
</head>
<body class="bodyregister">
    <div class="cajaregister">
        <div class="titulo">
          Registration
        </div>
        <div class="formulario">
           <div class="inputBox">
              <input type="text" class="input" placeholder="First Name">
           </div>  
            <div class="inputBox">
              <input type="text" class="input" placeholder="Last Name">
           </div>  
           <div class="inputBox">
              <input type="password" class="input" placeholder="Password">
           </div>  
          <div class="inputBox">
              <input type="password" class="input" placeholder="Confirm Password">
           </div> 
            <div class="inputBox">
              <div class="select-register">
                <select>
                  <option aria-readonly="true">Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
           </div> 
            <div class="inputBox">
              <input type="text" class="input" placeholder="Email Address">
           </div> 
          <div class="inputBox">
              <input type="text" class="input" placeholder="Phone Number">
           </div> 
          <div class="inputBox">
              <input type="text" class="input" placeholder="Postal Code">
           </div> 
          <div class="inputBox terms">
              <label class="check">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <p>Agreed to terms and conditions</p>
           </div> 
          <div class="todosbotones">
            <button type="submit">Register</button>
            <button type="reset">Reset</button>
            <button type="button">Login</button>
        </div>
    </div>	
</body>
<main>
</main>
<body>
  
</body>
</html>