<html lang="en" class="html-login">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <LINK REL=StyleSheet HREF="styles.css" TYPE="text/css" MEDIA=screen>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
  <title>CleanFy Login</title>
</head>
<body class="bodylogin">
  <form action="singin.html" class="box">
    <h2 class="title">SingIn</h2>
    <input type="text" placeholder="Username">
    <input type="password" placeholder="Password">
    <button type="submit">
      Login
    </button> 
    <button type="reset">
      Reset
    </button>
</body>
<main>
</main>
<body>
  
</body>

</html>