*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header img { 
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 3px;
}

body {
    font-family: 'Handlee', cursive;
    height: 100vh;
    background-color: #f0f0f0;
}

header {
    background-color: #4A91F7;
    display: flex;

    height: 108px;
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 3px;
}

.logo {
    width: 90px;
    height: 45px;
}

.buscador{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.buscador input {
    width: 170px;
    height: 20px;
    padding: 0 20px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    font-size: 2vh;
}

/*MATEO MATEO MATEO*/

.html-login,
.html-register{
    height: 99%;
    font-family: 'Handlee', cursive;
    
}

.bodylogin{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* SINGIN */

.boxlogin{
    width: 300px;
    padding: 40px;
    background-color: #4A91F7;
    text-align: center;
    border-radius: 18%;
    border: 1px rgb(100, 224, 255);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.title{
    text-transform: uppercase;
    font-weight: 500;
}

.boxlogin input[type="text"],
.boxlogin input[type="password"],
.boxlogin button[type="submit"],
.boxlogin button[type="reset"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid rgb(107, 190, 245);
    width: 200px;
    outline: none;
    color: black;
    border-radius: 22px;
    transition: 360ms;
    font-family: 'arial', cursive;
    font-size: 14;
}

.boxlogin input[type="text"]:focus,
.boxlogin input[type="password"]:focus{
    width: 280px;
    border-color:white;
}

.boxlogin button[type="submit"],
.boxlogin button[type="reset"]{
    border: 0;
    background: rgb(107, 190, 245);
    cursor: pointer;
}

.boxlogin button[type="submit"]:hover,
.boxlogin button[type="reset"]:hover{
    transition: 1111ms;
    background: none;
}

/* REGISTER */

.bodyregister{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

.cajaregister{
    width: 410px;
    padding: 40px;
    background-color: #4A91F7;
    text-align: center;
    border-radius: 18%;
    border: 1px rgb(100, 224, 255);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.titulo{
    font-size: 27px;
}

.cajaregister .formulario .inputbox .input{
width: 100%;
outline: none;
border: 1px solid #d5dbd9;
font-size: 15px;
padding: 8px 10px;
border-radius: 22px;
transition: all 0.3s ease;
}


.bodyregister .cajaregister .formulario .inputbox,
.todosbotones{
border: 0;
background: none;
display: flex;
margin: 10px auto;
padding: 5px 3px;
text-align: center;
border: 1px;
width: 253px;
outline: none;
color: black;
border-radius: 22px;
transition: 360ms;
font-size: 16;
}



.todosbotones button[type="submit"],
.todosbotones button[type="reset"],
.todosbotones button[type="button"]{
border: 2px solid black;
background: rgb(238, 229, 229);
display: flex;
margin: 10px auto;
padding: 8px 10px;
text-align: center;
border: 1px;
width: 253px;
outline: none;
color: black;
border-radius: 22px;
transition: 360ms;
font-size: 15;
}

.todosbotones button[type="submit"]:hover,
.todosbotones button[type="reset"]:hover,
.todosbotones button[type="button"]:hover{
    transition: 1111ms;
    background: none;
}

.todosbotones{
    align-items: center;
    flex-direction: column;
}

/*MATEO MATEO MATEO*/