<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/header.ejs') %>
<main class="main">
    <h3 class="encuadro">Basado en tu ultima visita o nuevos productos</h3>
    <section class="section-html">
    <div class="ver">
      <article>
        <img src="/img/jabonlife.jpg" width="310" alt="javon lifebouy">
        <div class="pdp">
          <p class="precio">$80</p>
          <p class="producto">Javon Lifebouy</p>
          <p class="descuento">Llevas dos pagas uno</p>
        </div>
      </article>
    </div>
    <div class=ver>
      <article>
        <img src="/img/secador-de-piso.jpg" width="310" alt="secador de piso">
        <div class="pdp">
          <p class="precio">$300</p>
          <p class="producto">Secador de piso</p>
          <p class="descuento">Llevando 3 unidades tenes 60% de descuento en la ultima unidad</p>
        </div>
      </article>
    </div>
    <div class="ver">
    <article>
      <img src="/img/esponja.jpg" width="310" alt="esponja clasica">
      <div class="pdp">
        <p class="precio">$200</p>
        <p class="producto">Esponja clasica</p>
        <p class="descuento">Llevando mas de 10 unidades te damos 2 de regalo</p>
      </div>
    </article>
    </div>
    <div class="ver">
    <article>
            <img src="/img/guantes-amarillos.jpg" width="310" alt="guantes de limpieza">
        <div class="pdp">
        <p class="precio">$300</p>
        <p class="producto">Guantes de limpieza</p>
        <p class="descuento">Llevando 3 pares pagas 2</p>
        </div>
    </article>
    </div>
    </section>
    <h3 class="encuadro">Novedades de la pagina</h3>
    <section class="section-html">
    <div class="ver">
        <article>
            <img class="detergentem" src="/img/detergente.jpg" alt="detergente">
        <div class="pdp">
        <p class="precio">$500</p>
        <p class="producto">Detergente magistral</p>
        <p class="descuento">Llevando mas de 3 unidades 20%OFF</p>
    </div>
    </article>
        </div>
        <div class="ver">
    <article>
            <img src="/img/escoba.jpg" width="310" alt="escoba cepillo">
        <div class="pdp">
        <p class="precio">$1000</p>
        <p class="producto">Escoba de cepillo</p>
        <p class="descuento">50%Off en tu la segunda unidad</p>
        </div>
    </article>
    </div>
    <div class="ver">
    <article>
        <img src="/img/skip.jpg" width="310" alt="javon ropa">
        <div class="pdp">
        <p class="precio">$500</p>
        <p class="producto">Javon para la ropa Skip</p>
        <p class="descuento">llevas 3 pagas 2</p>
        </div>
    </article>
    </div>
    <div class= "ver">
    <article>
            <img src="/img/papelhigenico.jpg" width="310" alt="papel higienico">
        <div class="pdp">
        <p class="precio">$300</p>
        <p class="producto">Papel higienico Scott</p>
        <p class="descuento">50%OFF en la tercera unidad</p>
        </div>
        </article>
    </div>
    </section>
</main>
  <%- include('./partials/footer.ejs') %>
</body>
</html>