<header class="header">
    <nav class="navegador">
    <div class="container-logo-barra-nav">
      <a href="#" class="logo">CLEANFY</a>
      <div class="buscador">
        <input type="text" placeholder="Buscar productos y mas..." required>
      </div>
      <ul>
        <li><a href="#">Categorias</a></li>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Envios</a></li>
        <li><a href="#">Contactos</a></li>
      </ul>
      <ul class=botonesregistro>
      <div>
        <a href="users/login" class="registroIndex">Sing In<i class="fas fa-sign-in-alt"></i></a></li>
      </div>
      <div>
        <a href="users/register" class="registroIndex">Register<i class="far fa-address-card"></i></a></li></a>
      </div>
      </ul>
    </nav>
  </div>
</header>