<html lang="en" class="html-login">
  <%- include('../partials/head.ejs') %>
<body class="bodylogin">
  <form action="/index.html" class="boxlogin">
    <h2 class="title">Login</h2>
    <input type="text" placeholder="Username">
    <input type="password" placeholder="Password">
    <button type="submit">
      Login
    </button> 
    <button type="reset">
      Reset
    </button>
</body>
<main>
</main>
<body>
  
</body>

</html>