<html lang="en" class="html-register">
  <%- include('../partials/head.ejs') %>
<body class="bodyregister">
    <div class="cajaregister">
        <div class="titulo">
          Registration
        </div>
        <div class="formulario">
           <div class="inputBox">
              <input type="text" class="input" placeholder="First Name">
           </div>  
            <div class="inputBox">
              <input type="text" class="input" placeholder="Last Name">
           </div>  
           <div class="inputBox">
              <input type="password" class="input" placeholder="Password">
           </div>  
          <div class="inputBox">
              <input type="password" class="input" placeholder="Confirm Password">
           </div> 
            <div class="inputBox">
              <input type="text" class="input" placeholder="Email Address">
           </div> 

          <div class="inputBox terms">
              <label class="check">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <p>Agreed to terms and conditions</p>
           </div> 
          <div class="todosbotones">
            <button type="submit">Register</button>
            <button type="reset">Reset</button>
            <button type="button">Login</button>
            <form action="./login.html"></form>
        </div>
    </div>	
</body>
<main>
</main>
<body>
  
</body>
</html>